body{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 500px;
    margin: 10px;
    font-weight: 700;
    padding: 30px
}

.button{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 8px;
}
.result{
margin-top: 20px;
}